In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'price' : [110, 105,115,120,110,130,150,100,105]}
df = pd.DataFrame(data)

In [3]:
df.head()

   price
0    110
1    105
2    115
3    120
4    110

#Normalization Library

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [5]:
df['price_sklearn'] = scaler.fit_transform(df[['price']])
df.head()

   price  price_sklearn
0    110            0.2
1    105            0.1
2    115            0.3
3    120            0.4
4    110            0.2

In [6]:
df.head(9)

   price  price_sklearn
0    110            0.2
1    105            0.1
2    115            0.3
3    120            0.4
4    110            0.2
5    130            0.6
6    150            1.0
7    100            0.0
8    105            0.1

#Standardization

In [6]:
data = {'price' : [110, 105,115,120,110,130,150,100,105]}
df = pd.DataFrame(data)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
std = StandardScaler()

In [9]:
df['price_std_sklearn'] = std.fit_transform(df[['price']])
df.head()

   price  price_std_sklearn
0    110          -0.416356
1    105          -0.757011
2    115          -0.075701
3    120           0.264954
4    110          -0.416356

#Robust Scaler

In [10]:
data = {'price' : [110, 105,115,120,110,130,150,100,105]}
df = pd.DataFrame(data)

In [11]:
from sklearn.preprocessing import RobustScaler

In [12]:
df['price_robust_sklearn'] = RobustScaler().fit_transform(df[['price']])
df.head()

   price  price_robust_sklearn
0    110              0.000000
1    105             -0.333333
2    115              0.333333
3    120              0.666667
4    110              0.000000

Log Transform

In [13]:
data = {'price' : [110, 105,115,120,110,130,150,100,105]}
df = pd.DataFrame(data)

In [14]:
from sklearn.preprocessing import FunctionTransformer

In [15]:
df['log_sklearn'] = FunctionTransformer(np.log1p).fit_transform(df[['price']])

In [16]:
df.head()

   price  log_sklearn
0    110     4.709530
1    105     4.663439
2    115     4.753590
3    120     4.795791
4    110     4.709530

Max Absolute Scaler

In [17]:
data = {'price' : [110, 105,115,120,110,130,150,100,105]}
df = pd.DataFrame(data)

In [18]:
from sklearn.preprocessing import MaxAbsScaler

In [19]:
scaler = MaxAbsScaler()
df['scaler_abs'] = scaler.fit_transform(df[['price']])

In [20]:
df.head()

   price  scaler_abs
0    110    0.733333
1    105    0.700000
2    115    0.766667
3    120    0.800000
4    110    0.733333